<template class="template">
    <div class="hide" id="main-process-status">
        <div class="row">
            <div class="col s12">
                <h4>
                    <span id="process-main-title">Process operation: </span>
                    <span id="process-main-status">10/10</span>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="progress orange lighten-5">
                    <div id="main-progressbar" class="determinate orange" style="width: 0%"></div>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="hide" id="seconday-process-status">
        <div class="row" id="secondary-row-title">
            <div class="col s12">
                <h4>
                    <span id="process-secondary-title">Details: </span>
                    <span id="process-secondary-status">10/10</span>
                </h4>
            </div>
        </div>
        <div class="row" id="secondary-row-progress">
            <div class="col s12">
                <div class="progress orange lighten-5">
                    <div id="secondary-progressbar" class="determinate orange" style="width: 0%"></div>
                </div>
            </div>
        </div>
    
    </div>
</template>